#main-content {
    margin-top : 5%;
    margin-left : 20%;
    margin-right : 20%;
}
.big-trash {
    margin-top: 3px;
    margin-right: 3px;
    font-size: 200%;
    color: #5a6268;
  
}
.small-trash,.small-sync{
    margin-right: 40px;
    font-size: 120%;
}
td {
    border:0px;
}